@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    font-weight: 700;
    line-height: 1.7;
}

.card {
    border-radius: 15px;
    height: 100%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .card-img-top {
    border-radius: 15px;
    padding: 5px;
    object-fit: fill;
    overflow: hidden;
    height: 100%;
    /* height: 130px; */
    /* max-height: 130px */
}

/* .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.mb-0 {
    font-size: larger;
}

@media (max-width: 769px) {
    .mb-0 {
        font-size: medium;
    }
}

.btn-add {
    border-radius: 20px;
    width: 60px;
    margin-right: 5px;
}

@media (max-width: 769px) {
    .btn-add {
        margin-right: 10px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
    }
}

.dropdown-item:hover {
    background-color: #EEEDEB;
    color: #686D76;
}

.btn-primary:hover {
    background-color: #5AB2FF !important;
    /* Warna hijau (contoh: menggunakan warna Bootstrap success) */
    border-color: #2C4E80 !important;
    /* Warna border yang sesuai */
}

.c-item {
    justify-content: center;
    align-items: center;
}

.c.img {
    height: 100%;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    height: 60px;
    width: 30px;
    margin: auto;
}

.carousel-control-prev,
.carousel-control-next:hover {
    background-color: rgb(11, 10, 10);
}

.text-section {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.text-section p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* Menu */
#menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    color: #222;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#menu {
    padding: 30px;
}

#menu .nav-pills .nav-link.active {
    background-color: #2C4E80;
    color: white;
}

#menu .container {
    margin-bottom: 40px;
}

.bg-light {
    background-color: white;
}

/* Styling for the cart icon */
.cart-container {
    position: relative;
    font-size: 22px;
    /* Adjust the size of the icon */
    color: #000;
    /* Set the color of the icon */
    cursor: pointer;
    /* Add cursor pointer for better UX */
}

/* Styling for the badge */
.cart-container .badge {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: red;
    /* Set background color for the badge */
    color: white;
    /* Set text color for the badge */
    border-radius: 50%;
    /* Make the badge circular */
    padding: 5px 7px;
    /* Adjust padding for better appearance */
    font-size: 12px;
    /* Adjust font size */
    display: flex;
    /* Center the text inside the circle */
    align-items: center;
    /* Center the text inside the circle */
    justify-content: center;
    /* Center the text inside the circle */
    min-width: 20px;
    /* Ensure minimum width for single-digit numbers */
}

.footer {
    background-image: linear-gradient(to right, rgb(44, 43, 43), grey);
    padding: 40px 0;
}

.single-box h3,
.single-box .card-area p {
    color: #fff;
    /* Change text color to white */
}

.single-box .card-area p i {
    color: #e90c0c;
    /* Change text color to white */
}

.single-box .card-area p i {
    margin-right: 10px;
    /* Add some space between icon and text */
}

.single-box .social-links a {
    margin: 0 5px;
    font-size: 25px;
    color: #e90c0c;
    /* Change icon color to white */
    text-decoration: none;
}

.single-box .social-links a:hover {
    color: #fff;
    /* Change icon color on hover */
}

.copyright {
    margin-top: 15px;
    /* Reduce margin-top to decrease the gap */
    margin-bottom: 0;
    /* Ensure there is no margin at the bottom */
    color: white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    /* width: 100%; */
}

.moving-text {
    animation: moveText 8s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (min-width: 768px) {
    .moving-text {
        animation: moveText 20s linear infinite; /* Slow down the animation for larger screens */
    }

    .copyright {
        margin-top: 15px;
        /* Reduce margin-top to decrease the gap */
        margin-bottom: 0;
        /* Ensure there is no margin at the bottom */
        color: white;
        font-weight: bold;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        
    }

    .moving-text::before,
    .moving-text::after {
        content: "Copyright © 2024 Smartsoft for GELAEL SUPERMARKET";
        padding: 20px; /* Add spacing between repeated texts */
    }
}

.footer-divider {
    border-top: 2px solid #ffff;
    margin: 20px auto;
    width: 100%;
}

.cartTab {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: #d4d6d8;
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    z-index: 1000;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.cartTab.active {
    right: 0;
}

.cartTab h1 {
    font-weight: 500;
    font-size: xx-large;
    margin: 0;
    color: #000000;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cartTab .btn button {
    background-color: white;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.cartTab .btn .order {
    appearance: button;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f03434;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    overflow: visible;
    padding: 10px 50px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    height: 40px;
    margin: 0 auto;
}

.cartTab .btn .order:active,
.cartTab .btn .order:focus {
    outline: none;
}

.cartTab .btn .order:hover {
    background-position: -20px -20px;
}

.cartTab .btn .order:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.cartTab .btn .close {
    appearance: button;
    background-color: #f03434;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    overflow: visible;
    padding: 10px 50px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    height: 40px;
    margin: 0 auto;
}

.cartTab .btn .close:active,
.cartTab .btn .close:focus {
    outline: none;
}

.cartTab .btn .close:hover {
    background-position: -20px -20px;
}

.cartTab .btn .close:focus:not(:active) {
    box-shadow: rgba(222, 122, 122, 0.25) 0 0 0 .125em;
}

.cartTab .listCard .item img {
    width: 100%;
}

.cartTab .listCard .item {
    display: grid;
    grid-template-columns: 65px 70px 60px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-top: 15px;

}

.listCard .quantity span {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    /* Pusatkan secara horizontal */
    align-items: center;
    /* Pusatkan secara vertikal */
    font-size: 14px;
}

.listCard .quantity span:nth-child(2) {
    background-color: transparent;
    color: #000000;
}

.cartTab .listCard .item .name {
    font-size: medium;
}

.input-group {
    width: 340px;
    justify-content: center;
}

.input-group .dropdown-toggle {
    height: 42px; /* Sesuaikan dengan tinggi yang diinginkan */
    font-size: 0.875rem;
}

.listCard .item:nth-child(odd) {
    background-color: rgba(20, 5, 5, 0.067);
}

.listCard {
    overflow: auto;
}

.listCard::-webkit-scrollbar {
    width: 0;
}

.btn-minus {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 0.6rem;
    cursor: pointer;
}

.btn-plus {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 0.6rem;
    cursor: pointer;
}

.total-price-container {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.total-price-container h3 {
    font-weight: 400;
    font-size: 20px;
}

.container-payment {
    margin-top: 15px;
    height: auto;
    width: 700px;
}

@media only screen and (max-width:600px) {
    .container-payment {
        width: 100%;
    }
}

.inputed {
    margin-top: 6px;
}

.inputed-img {
    margin-top: 6px;
    margin-left: 3px;
}

.message {
    display: block;
    color: var(--bg-color);
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.con-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 8px;
}

.card-login {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 300px;
    padding: 25px 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35 ease-in-out;
    background-color: #fff;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25 ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #03346E;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
}

.table thead th,
.table tbody td {
    /* border: 1px solid; */
    padding: 5px;
}

th {
    font-size: larger;
    text-align: center;
}

.card-admin {
    border: 1px solid #ccc;
    background-color: #03346E;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-admin {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    color: #fff;
}

td button:nth-child(1) {
    color: #478CCF;
}

td button:nth-child(2) {
    color: grey;
}

.warning {
    font-size: 5rem;
    margin-left: 195px;
    color: orange;
}

#deletebutton {
    background-color: red;
}

.p-3 {
    background-color: #F5F7F8;
}


@media (max-width: 576px) {
    .row {
        margin-right: calc(-1.5* var(--bs-gutter-x));
        margin-left: calc(-1.5* var(--bs-gutter-x));
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-1.5* var(--bs-gutter-x));
        margin-left: calc(-1.5* var(--bs-gutter-x));
    }

    .mb-0 {
        font-size: medium;
    }
}

.btn-input {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
}

/* The toggleStatus - the box around the slider */
.toggleStatus {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

/* Hide default HTML checkbox */
.toggleStatus input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 35px;
}

.slider.round:before {
    border-radius: 50%;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
}

.cardBox .card-home {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cardBox .card-home .card-num {
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    color: #00215E;
}

.cardBox .card-home .iconBox {
    font-size: 2.5rem;
    color: #000000;
}

.cardBox .card-home .card-text {
    font-size: 1.1rem;
    color: #929090;
    margin-top: 10px;
}

.cardBox .card-home:hover {
    background-color: #00215E;
}

.cardBox .card-home:hover .card-num,
.cardBox .card-home:hover .card-text,
.cardBox .card-home:hover .iconBox {
    color: #fff;
}

@media (max-width: 991px) {
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width: 450px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
}

.toggle-status-container {
    margin-top: 5px;
    /* Jarak antara label dan toggle switch */
}

#badgeProduct {
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Tombol dropdown dengan class khusus */
.atribut-btn {
    display: flex;
    align-items: center;           /* Vertikal center untuk teks dan panah */
    justify-content: center;       /* Horizontal center */
    padding-right: 0.75rem;        /* Memberikan ruang untuk panah */
}

/* Ikon panah */
.atribut-btn::after {
    content: '';                   
    font-size: 1rem;               /* Ukuran panah */
    border-left: 4px solid transparent;  /* Membuat sisi kiri transparan */
    border-right: 4px solid transparent; /* Membuat sisi kanan transparan */
    border-top: 6px solid #fff;         /* Ukuran dan warna bagian atas panah */
    border-bottom: 0 solid transparent;  /* Tidak ada bagian bawah */
    margin-left: 0.5em;            /* Jarak antara teks dan panah */
    margin-right: 0.5rem;          /* Jarak ke sisi kanan tombol */
}

/* Jika dropdown dalam keadaan terbuka, tambahkan animasi */
.show .atribut-btn::after {
    transform: rotate(180deg);     /* Membalik panah jika dropdown terbuka */
}